<div class="form-container">
    <section class="navigation">
        <button class="navigation-button" routerLink="/main-page" (click)="deleteGameOnAdminQuit(); deselectAvatarOnPlayerQuit()">
            <i class="fas fa-home"></i> Retour à l'accueil
        </button>
    </section>
    <h1>Crée ton personnage</h1>
    @if(showVisibilityAlert) {
    <div class="modal-overlay" (click)="retry()">
        <div class="confirmation-bubble" (click)="$event.stopPropagation()">
            <p>Vous ne pourrez plus modifier le personnage après la confirmation. Voulez-vous confirmer?</p>
            <div class="confirmation-buttons">
                <button (click)="hideAlert()" type="submit" [disabled]="!formGroup.valid">Oui</button>
                <button (click)="cancelAlert()">Non</button>
            </div>
        </div>
    </div>
    }
    <form [formGroup]="formGroup" (submit)="submit($event)">
        @if (error()) {
        <div class="modal-overlay" (click)="retry()">
            <div class="confirmation-bubble" (click)="$event.stopPropagation()">
                <h2>Erreur</h2>
                @if(lockedError) {
                <p>Partie bloquée par l'administrateur !</p>
                } @if(notExistingError) {
                <p>La partie n'existe plus !</p>
                }
                <div class="confirmation-buttons">
                    <button (click)="retry()" disabled="notExistingError">Réessayer</button>
                    <button routerLink="/main-page">Retourner à l'acceuil</button>
                </div>
            </div>
        </div>
        }
        <section class="name">
            <div class="form-field">
                <h2>Nom:</h2>
                <div id="input-name">
                    <input id="name" name="name" type="text" formControlName="name" required minlength="4" maxlength="10" />
                    @if (isFieldValid('name')) {
                    <div class="error">Requis (4-10 caractères)</div>
                    }
                </div>
            </div>
        </section>
        <section class="character">
            <app-avatar-img
                id="list-avatar"
                [formGroup]="formGroup"
                [selectedAvatars]="selectedAvatars"
                (imageSelected)="onImageSelected($event ?? '')"
            ></app-avatar-img>

            <div class="right-side">
                <app-attribute-form [formGroup]="formGroup"></app-attribute-form>

                <div>
                    <button class="submit-button" type="submit" [disabled]="isButtonDisabled || hasBeenClicked">Suivant</button>
                </div>
            </div>
        </section>
    </form>
</div>
