<div class="form-container">
    <section class="navigation">
        <button class="navigation-button" routerLink="/main-page"><i class="fas fa-home"></i> {{ 'general.button.back-home' | translate }}</button>
    </section>
    <h1>{{ 'avatar-page.title' | translate }}</h1>
    @if(showVisibilityAlert) {
    <div class="modal-overlay" (click)="retry()">
        <div class="confirmation-bubble" (click)="$event.stopPropagation()">
            <p>{{ 'avatar-page.confirm-modal.title' | translate }}</p>
            <div class="confirmation-buttons">
                <button (click)="hideAlert()" type="submit" [disabled]="!formGroup.valid">{{ 'general.button.yes' | translate }}</button>
                <button (click)="cancelAlert()">{{ 'general.button.no' | translate }}</button>
            </div>
        </div>
    </div>
    }
    <form [formGroup]="formGroup" (submit)="submit($event)">
        @if (error()) {
        <div class="modal-overlay" (click)="retry()">
            <div class="confirmation-bubble" (click)="$event.stopPropagation()">
                <h2>{{ 'avatar-page.error-modal.title' | translate }}</h2>
                @if(lockedError) {
                <p>{{ 'avatar-page.error-modal.locked' | translate }}</p>
                } @if(notExistingError) {
                <p>{{ 'avatar-page.error-modal.not-existing' | translate }}</p>
                }
                <div class="confirmation-buttons">
                    <button (click)="retry()" disabled="notExistingError">{{ 'avatar-page.error-modal.retry' | translate }}</button>
                    <button routerLink="/main-page">{{ 'avatar-page.error-modal.back-home' | translate }}</button>
                </div>
            </div>
        </div>
        }
        <section class="character">
            <app-avatar-img
                id="list-avatar"
                [formGroup]="formGroup"
                [selectedAvatars]="selectedAvatars"
                (imageSelected)="onImageSelected($event ?? '')"
            ></app-avatar-img>

            <div class="right-side">
                <app-attribute-form [formGroup]="formGroup"></app-attribute-form>

                <div>
                    <button class="submit-button" type="submit" [disabled]="isButtonDisabled || hasBeenClicked">
                        {{ 'avatar-page.next' | translate }}
                    </button>
                </div>
            </div>
        </section>
    </form>
</div>
