<div class="admin-container justified">
    <section class="navigation">
        <div class="right-group">
            <i class="fa-solid fa-message chat-button" aria-hidden="true" (click)="openChat()"></i>
            <button class="navigation-button" routerLink="/main-page">
                <i class="fas fa-home"></i> {{ 'general.button.back-home' | translate }}
            </button>
        </div>
    </section>
    <section class="header-item">
        <h1>{{ 'admin-page.title' | translate }}</h1>
    </section>

    @if (showDeleteConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'admin-page.delete-confirmation-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="deleteGame()">{{ 'general.button.yes' | translate }}</button>
            <button (click)="cancelDelete()">{{ 'general.button.no' | translate }}</button>
        </div>
    </div>
    } @if (showAlertConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'admin-page.boardgame-deleted-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="hideAlert()">{{ 'general.button.confirm' | translate }}</button>
        </div>
    </div>
    }

    <div class="creation-button-container">
        <button routerLink="/option">{{ 'admin-page.create' | translate }}</button>
    </div>

    <div class="admin-content" [ngClass]="{ 'no-game-selected': !displayedObject, 'game-selected': displayedObject }">
        <app-game-list
            [gamesList]="gamesList"
            [isAdminPage]="true"
            (gameSelected)="setDisplayedObject($event)"
            (duplicateGame)="onDuplicateGame($event)"
            [theme]="'brown'"
            [isLoading]="adminPageManagerService.isLoading()"
        >
        </app-game-list>

        <section class="game-state-changer">
            @if(adminPageManagerService.isLoading()){
            <app-loading [color]="'white'"></app-loading>
            } @else{ @if (displayedObject) {
            <div class="game-name-header">
                <h2><i class="fas fa-gamepad"></i> {{ displayedObject.name }}</h2>
            </div>

            <div class="game-card-list-2">
                <div class="main-area">
                    <img [src]="displayedObject.previewImage" alt="Preview Image" />
                </div>

                <div class="game-icons">
                    @if (displayedObject.gameMode === gameMode.CTF) {
                    <img src="assets/icones/flag white.svg" alt="CTF Mode" />
                    }
                </div>
            </div>

            <div class="admin-option-container">
                <button routerLink="/editor" (click)="editGame()">{{ 'admin-page.edit' | translate }}</button>
                <button (click)="confirmDelete()">{{ 'admin-page.delete' | translate }}</button>
                @if(userManager.currentUser().id === displayedObject.ownerId){
                <div class="visibility-toggle">
                    <span class="visibility-text">{{ 'admin-page.privacy' | translate }}</span>
                    <app-dropdown
                        [i18nKey]="'general.game-privacy.'"
                        [selectedValue]="displayedObject.privacy"
                        [listElems]="gamePrivacies"
                        (selectedValueChange)="updateDisplayedObjectPrivacy($event)"
                        >></app-dropdown
                    >
                </div>
                }
            </div>
            } }
        </section>
    </div>
    @if(showChat() && !this.chatService.chatDetache()){
    <div class="chat-container">
        <app-chat-container></app-chat-container>
    </div>
    }
</div>
