<div class="admin-container justified">
    <section class="navigation">
        <button class="navigation-button" routerLink="/main-page"><i class="fas fa-home"></i> {{ 'general.button.back-home' | translate }}</button>
    </section>

    <section class="header-item">
        <h1>{{ 'admin-page.title' | translate }}</h1>
    </section>

    @if (showDeleteConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'admin-page.delete-confirmation-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="deleteGame()">{{ 'general.button.yes' | translate }}</button>
            <button (click)="cancelDelete()">{{ 'general.button.no' | translate }}</button>
        </div>
    </div>
    } @if (showAlertConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'admin-page.boardgame-deleted-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="hideAlert()">{{ 'general.button.confirm' | translate }}</button>
        </div>
    </div>
    }

    <div class="creation-button-container">
        <button routerLink="/option">{{ 'admin-page.create' | translate }}</button>
    </div>

    <div class="admin-content" [ngClass]="{ 'no-game-selected': !displayedObject, 'game-selected': displayedObject }">
        <app-game-list [gamesList]="gamesList" [showOnlyVisible]="false" (gameSelected)="setDisplayedObject($event)" [theme]="'brown'">
        </app-game-list>

        @if (displayedObject) {
        <section class="game-state-changer">
            <div class="game-name-header">
                <h2><i class="fas fa-gamepad"></i> {{ displayedObject.name }}</h2>
            </div>

            <div class="game-card-list-2">
                <div class="main-area">
                    <img [src]="displayedObject.previewImage" alt="Preview Image" />
                </div>

                <div class="game-icons">
                    @if (displayedObject.visibility) {
                    <img src="assets/icones/eye icon white.svg" alt="Visible" />
                    } @if (displayedObject.gameMode === gameMode.CTF) {
                    <img src="assets/icones/flag white.svg" alt="CTF Mode" />
                    }
                </div>
            </div>

            <div class="admin-option-container">
                <button routerLink="/editor" (click)="editGame()">{{ 'admin-page.edit' | translate }}</button>
                <button (click)="confirmDelete()">{{ 'admin-page.delete' | translate }}</button>

                <div class="visibility-toggle">
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="displayedObject.visibility" (change)="updateDisplayedObjectVisibility()" />=
                        <span class="slider"></span>
                    </label>
                    <span class="visibility-text">{{ 'admin-page.visibility' | translate }}</span>
                </div>
            </div>
        </section>
        }
    </div>
</div>
