<div class="player-info-container">
    <div class="player-header">
        <img [src]="currentPlayer.character" alt="Avatar" class="player-avatar" />
        <p>{{ currentPlayer.name }}</p>
    </div>

    <div class="player-stats">
        <div class="stat-row">
            <span class="stat-label">{{ 'player.health' | translate }}:</span>
            <span class="stat-value">{{ health() }}</span>
        </div>

        <div class="stat-row">
            <span class="stat-label">{{ 'player.attack' | translate }}:</span>
            <span class="stat-value">
                {{ attack() }}
                <span class="dice-bonus">({{ getDiceBonusLabel(currentPlayer.attributes.bonusAttack) }})</span>
            </span>
        </div>

        <div class="stat-row">
            <span class="stat-label">{{ 'player.defense' | translate }}:</span>
            <span class="stat-value">
                {{ defense() }}
                <span class="dice-bonus">({{ getDiceBonusLabel(currentPlayer.attributes.bonusDefense) }})</span>
            </span>
        </div>

        <div class="stat-row">
            <span class="stat-label">{{ 'player.movements' | translate }}:</span>
            <span class="stat-value">{{ remainingMovements }}</span>
        </div>

        <div class="stat-row">
            <span class="stat-label">{{ 'player.actions' | translate }}:</span>
            <span class="stat-value">{{ remainingActions }}</span>
        </div>
    </div>
</div>
