<div class="main-area" [style.cursor]="tile.reachable ? 'pointer' : ''">
    <img [src]="getTileImage(tile)" alt="{{ tile.type }}" />
    @if((tile.containedItem && !tile.containedItem.disabled)||(tile.containedItem && this.tileIsStartingPosition())){
    <app-playing-item class="item-element" [item]="tile.containedItem" (mousedown)="mouseDownOnItem($event)"></app-playing-item>}
    @if(tile.containedPlayer){
    <app-player-element class="player-element" [player]="tile.containedPlayer" (mousedown)="mouseDownOnPlayer($event)"></app-player-element>
    } @if(tile.reachable){
    <div class="reachable-filter"></div>
    } @if(tile.availableAction){
    <div class="action-filter"></div>
    <div class="tooltip">
        {{ tile.availableAction.description }}
    </div>
    }
</div>
