<div class="main-area" [style.cursor]="tile.reachable ? 'pointer' : ''">
    <img [src]="getTileImage(tile)" alt="{{ tile.type }}" />
    @if((tile.containedItem && !tile.containedItem.disabled)||(tile.containedItem && this.tileIsStartingPosition())){
    <app-playing-item class="item-element" [item]="tile.containedItem" (mousedown)="mouseDownOnItem($event)"></app-playing-item>}
    @if(tile.containedPlayer){
    <app-player-element class="player-element" [player]="tile.containedPlayer" (mousedown)="mouseDownOnPlayer($event)"></app-player-element>
    } @if(tile.reachable){
    <div class="reachable-filter"></div>
    } @if(tile.availableAction){
    <div class="action-filter"></div>
    <div class="tooltip">
        {{ tile.availableAction.description | translate }}
    </div>
    }
@if(showEmoteMenu){
<div class="emote-menu" (click)="$event.stopPropagation()">
    <button
        *ngFor="let emote of emotes"
        class="emote-button"
        (click)="onEmoteClick(emote.type, $event)"
        [title]="emote.type">
        {{ emote.icon }}
    </button>
</div>
}
@if(tile.containedPlayer?.currentEmote){
<div class="emote-bubble">
    <div class="emote-content">
        {{ getEmoteIcon(tile.containedPlayer?.currentEmote) }}
    </div>
    <div class="emote-bubble-tail"></div>  
</div>
}


</div>
