<div class="settings-page-container">
    <section class="navigation">
        <div class="right-group">
            <i class="fa-solid fa-message chat-button" aria-hidden="true" (click)="openChat()"></i>
            <button class="navigation-button" (click)="goHome()"><i class="fas fa-home"></i> {{ 'general.button.back-home' | translate }}</button>
        </div>
    </section>

    <div class="settings-container">
        <h2 class="settings-title">{{ 'settings-page.title' | translate }}</h2>

        <div class="main-content">
            <div class="setting-item">
                <span>{{ 'settings-page.lang' | translate }}</span>
                <app-dropdown [i18nKey]="'general.languages.'" [(selectedValue)]="selectedLanguage" [listElems]="languages">></app-dropdown>
            </div>

            <div class="setting-item">
                <span>{{ 'settings-page.theme' | translate }}</span>
                <app-dropdown [i18nKey]="'general.themes.'" [(selectedValue)]="selectedTheme" [listElems]="themes">></app-dropdown>
            </div>
        </div>
        <button
            type="button"
            class="apply-button navigation-button"
            [disabled]="initialLanguage === selectedLanguage && initialTheme === selectedTheme"
            (click)="applyChanges()"
        >
            {{ 'settings-page.apply' | translate }}
        </button>
    </div>
    @if(showChat() && !this.chatService.chatDetache()){
    <div class="chat-container">
        <app-chat-container></app-chat-container>
    </div>
    }
</div>
