<div class="channel-navigator-container" [class.expanded]="isPopup">
    <div class="channel-header">
        <h3>
            Canaux de discussion
            <span><button (click)="openDialog()">➕</button></span>
        </h3>
        @if(!isPopup){
        <button class="open-btn" (click)="openChannelPopup()">
            <img src="assets/icones/open_in_new.svg" alt="Open in new icon" />
        </button>
        }
        <div class="tabs">
            <button
                class="tab"
                [class.active]="selectedTab() === ChannelTab.Joined"
                (click)="selectedTab.set(ChannelTab.Joined)"
                type="button"
                [attr.aria-controls]="'panel-joined'"
                [attr.aria-selected]="selectedTab() === ChannelTab.Joined"
            >
                Mes canaux
            </button>

            <button
                class="tab"
                [class.active]="selectedTab() === ChannelTab.Directory"
                (click)="selectedTab.set(ChannelTab.Directory)"
                type="button"
                [attr.aria-controls]="'panel-directory'"
                [attr.aria-selected]="selectedTab() === ChannelTab.Directory"
            >
                Découvrir
            </button>
        </div>
    </div>

    <div class="search-input">
        @if(selectedTab() === ChannelTab.Joined){
        <i class="fa-solid fa-filter search-icon"></i>
        } @else{
        <i class="fa fa-search search-icon"></i>
        }
        <input
            [(ngModel)]="searchInput"
            (keydown.enter)="searchChannel()"
            type="text"
            minlength="1"
            maxlength="200"
            [placeholder]="selectedTab() === ChannelTab.Joined ? 'Filtrer canal...' : 'Rechercher un canal...'"
        />
        <button (click)="searchChannel()">{{ selectedTab() === ChannelTab.Joined ? 'Filtrer' : 'Rechercher' }}</button>
    </div>

    @if(selectedTab() === ChannelTab.Joined && !isLoading()){
    <div class="channels" id="panel-joined">
        @for(channel of filteredJoinedChannels; track channel.id){
        <div class="channel-item" (click)="openChannel(channel.id)">
            <h3>{{ channel.name }}</h3>
            @if(channel.isManageable){
            <i class="fa-solid fa-x delete-icon" (click)="deleteChannel(channel.id); $event.stopPropagation()"></i>
            }
        </div>
        }
    </div>
    } @if(selectedTab() === ChannelTab.Directory && !isLoading()){
    <div class="channels" id="panel-directory">
        @for(channel of directoryChannels; track channel.id){
        <div class="channel-item" (click)="joinChannel(channel.id)">
            <h3>{{ channel.name }}</h3>
        </div>
        }
    </div>
    } @if(isLoading()){
    <app-loading></app-loading>
    }
</div>
