<div class="waiting-container">
    <section class="navigation">
        <div class="action-buttons">
            <button class="navigation-button" (click)="deletePlayer(gameSessionManager.chosenPlayer())">
                <i class="fas fa-home"></i>{{ 'waiting-page.leave' | translate }}
            </button>
            @if(isOrganizer()) {
            <button
                class="virtual-player-generation"
                [class.disabled]="isRoomFull()"
                [disabled]="isRoomFull()"
                (click)="onGenerateVirtualPlayerClick()"
            >
                <i class="fas fa-robot"></i> {{ (isRoomFull() ? 'waiting-page.full-room' : 'waiting-page.vp.button') | translate }}
            </button>
            }
        </div>
        <div class="blocked-section">
            <i
                [ngClass]="roomLockedState ? 'fa fa-lock' : 'fa fa-lock-open'"
                (mouseenter)="showTooltip = true"
                (mouseleave)="showTooltip = false"
            ></i>
            <button
                [class.btn-locked]="roomLockedState"
                [class.btn-unlocked]="!roomLockedState"
                [ngClass]="[roomLockedState ? 'btn-locked' : 'btn-unlocked', !isOrganizer() ? 'hidden' : '']"
                [disabled]="!isOrganizer() || hasToggleState"
                (click)="toggleRoomState()"
            >
                {{ (roomLockedState ? 'waiting-page.unlock-room' : 'waiting-page.lock-room') | translate }}
            </button>
            @if(showTooltip) { @if(currentGame.locked) {
            <div class="tooltip">{{ 'waiting-page.locked-room' | translate }}</div>
            } @else {
            <div class="tooltip">{{ 'waiting-page.locked-room' | translate }}</div>
            } }
        </div>
    </section>
    <section>
        <div class="access-code-section">
            <div>
                <h1><i class="fa fa-key"></i>{{ 'waiting-page.code' | translate }}:</h1>
            </div>
            <div>
                <p class="game-code">{{ gameId }}</p>
            </div>
        </div>
        <div class="second-section">
            <div class="left-zone">
                <div class="text">{{ 'waiting-page.waiting' | translate }}</div>
                <div class="players-list">
                    <app-players-list [gameId]="gameId"></app-players-list>
                </div>
                <button
                    [ngClass]="!isOrganizer() ? 'hidden' : ''"
                    [disabled]="playersLimitReached || !roomLockedState || hasBeenClicked || showPlayerAmountWarning"
                    class="button-gold"
                    (click)="startGame()"
                >
                    {{ 'waiting-page.start-game' | translate }}
                </button>
            </div>
            @if(!chatDockService.chatDetache()){
            <div class="chat-zone">
                <app-chat-container [gameId]="gameSessionManager.gameId()"></app-chat-container>
            </div>
            }
        </div>
    </section>
</div>

@if (showVirtualPlayerProfile) {
<div class="confirmation-bubble">
    <button class="close-button" (click)="hideVirtualPlayerProfilePopup()">
        <i class="fas fa-times"></i>
    </button>

    <p>{{ 'waiting-page.vp.title' | translate }}</p>
    <div class="confirmation-buttons">
        <button (click)="selectProfile(virtualPlayerProfile.Agressive)">{{ 'waiting-page.vp.agressive' | translate }}</button>
        <button (click)="selectProfile(virtualPlayerProfile.Defensive)">{{ 'waiting-page.vp.defensive' | translate }}</button>
    </div>
</div>
} @if(showPlayerAmountWarning) {
<div class="modal-overlay" (click)="showPlayerAmountWarning = false">
    <div class="player-amount-warning" (click)="$event.stopPropagation()">
        <span>{{ 'waiting-page.player-amount-modal' | translate }}</span>
        <button class="close-btn" (click)="showPlayerAmountWarning = false">{{ 'general.button.close' | translate }}</button>
    </div>
</div>
}
