<div class="chat-container" [class.expanded]="isExpended">
    <div class="chat-header">
        <button class="back-btn" (click)="closeChat.emit()">
            <i class="fa fa-arrow-left"></i>
        </button>
        @if(roomId === channelGeneralId || gameRoomRegex.test(roomId)){
        <h3>{{ 'chat.' + chatName | translate }}</h3>
        } @else{
        <h3>{{ chatName }}</h3>
        } @if(!isPopup){
        <button class="open-btn" (click)="openChatPopup()"><img src="assets/icones/open_in_new.svg" alt="Open in new icon" /></button>
        }
    </div>
    <div class="chat-messages" #scroll>
        <div class="message-list">
            @for (message of chatService.roomMessages; track message.timestamp) {
            <div class="message" [ngClass]="{ 'my-message': message.sender === playerName }">
                <div class="message-header">
                    <span class="sender">{{ message.sender }}</span>
                    <span class="timestamp"> {{ message.timestamp | date: 'HH:mm:ss' : 'America/Toronto' }}</span>
                </div>
                <div class="message-content">
                    {{ message.text }}
                </div>
            </div>
            }
        </div>
    </div>

    <div class="chat-input">
        <div class="input-wrapper">
            <input
                id="roomMessage"
                [(ngModel)]="messageInput"
                (keydown.enter)="sendToRoom()"
                type="text"
                required
                minlength="1"
                (ngModelChange)="onModelChange($event)"
                [ngClass]="{ 'border-red': nCharacters() > maxNCharacters }"
                placeholder="Envoyer un message"
                #input
            />
            <div class="max-character" [ngClass]="{ 'text-red': nCharacters() > maxNCharacters }">{{ nCharacters() }} / {{ maxNCharacters }}</div>
        </div>
        <button (click)="sendToRoom()">{{ 'chat.send' | translate }}</button>
    </div>
</div>
