<div class="inventory-container">
    <div class="inventory-header">
        <p>{{ 'game-page.inventory' | translate }}</p>
    </div>

    <div class="items-grid">
        @for (item of this.gameSessionManager.chosenPlayer().inventory; track $index) {
        <div class="item-slot" [class.empty-slot]="!item" [title]="item ? ('general.item.name.' + item.name | translate) : ''">
            @if (item) {
            <img [src]="getItemImage(item.name)" [alt]="item.name" class="item-image" />
            <span class="item-name">{{ 'general.item.name.' + item.name | translate }}</span>
            }
        </div>
        }
    </div>
    @if(canDepositTorch()) {
    <div class="deposit-torch-section">
        <button class="deposit-torch-btn" (click)="onDepositTorch()" [disabled]="!canDepositTorch()" [title]="getDepositTorchTooltip()">
            <img [src]="getItemImage('Torch')" alt="torch" class="torch-icon" />
            {{ 'game-page.inventory.deposit-torch' | translate }}
        </button>
    </div>
    }
</div>
