<div class="game-interface">
    <div class="remaining-attempts">{{ 'game-page.combat.remaining-escape-attemps' | translate }} : {{ currentPlayerEscapeAttempts }}</div>

    <div class="interface-content">
        <div class="column-left" [class.active]="isPlayerTurnGetter">
            <app-player
                [player]="currentPlayer"
                [isAttacking]="isPlayerTurnGetter"
                [diceValue]="currentDiceValue"
                [remainingEscapeAttempts]="currentPlayerEscapeAttempts"
                [isCurrentPlayer]="true"
            ></app-player>
        </div>

        <div class="column-center">
            <div class="dice-container">
                <div class="dice-group">
                    <div class="dice-label">{{ 'game-page.combat.attack-dice' | translate }}</div>
                    <app-dice [isAttackDice]="true"></app-dice>
                </div>

                <div class="dice-group">
                    <div class="dice-label">{{ 'game-page.combat.defense-dice' | translate }}</div>
                    <app-dice [isAttackDice]="false"></app-dice>
                </div>
            </div>

            <app-countdown [isInCombat]="true"></app-countdown>
        </div>

        <div class="column-right" [class.active]="!isPlayerTurnGetter">
            <app-player
                [player]="opponent"
                [isAttacking]="!isPlayerTurnGetter"
                [diceValue]="currentDiceValue"
                [remainingEscapeAttempts]="opponentEscapeAttempts"
                [isCurrentPlayer]="false"
            ></app-player>
        </div>
    </div>

    <div class="action-buttons">
        @if(!gameSessionManager.isEliminated()){
        <button
            class="attack"
            (click)="onAttack()"
            [class.disabled]="isAttackButtonDisabled() || gameSessionManager.isEliminated()"
            [attr.disabled]="isAttackButtonDisabled() || gameSessionManager.isEliminated() ? 'disabled' : null"
        >
            {{ getAttackButtonText() | translate }}
        </button>
        <button
            class="escape"
            (click)="onEscape()"
            [class.disabled]="isEscapeButtonDisabled() || gameSessionManager.isEliminated()"
            [attr.disabled]="isEscapeButtonDisabled() || gameSessionManager.isEliminated() ? 'disabled' : null"
        >
            {{ 'game-page.combat.escape' | translate }}
        </button>
        }
    </div>

    @if (showEscapeConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'game-page.combat.escape-confirmation-modal.title' | translate: { nAttempts: currentPlayerEscapeAttempts } }}</p>
        <div class="confirmation-buttons">
            <button (click)="confirmEscape()">{{ 'game-page.combat.escape-confirmation-modal.yes' | translate }}</button>
            <button (click)="cancelEscape()">{{ 'game-page.combat.escape-confirmation-modal.no' | translate }}</button>
        </div>
    </div>
    }
</div>
