<div class="game">
    <div class="column-left">
        <app-countdown [isInCombat]="false"></app-countdown>
        @if(!gameSessionManager.isEliminated()){
        <app-player-info></app-player-info>
        <app-inventory></app-inventory>
        }
    </div>

    <div class="column-center">
        <app-playing-board [showEmoteMenuForPlayer]="showEmoteMenuForPlayer"></app-playing-board>
        @if (gameSessionManager.isEliminated()) {
        <div class="spectator-panel">
            <h2>{{ 'game-page.spectating-title' | translate }}</h2>
            <p>{{ 'game-page.spectating-subtitle' | translate }}</p>
            <span class="spectator-tag">
                {{ 'game-page.spectating-tag' | translate }}
            </span>
        </div>
        } @else {
        <div class="action-buttons">
            <button
                (click)="onActionClick()"
                [class.disabled]="isActionButtonDisabled()"
                [attr.disabled]="isActionButtonDisabled() ? 'disabled' : null"
            >
                {{ 'game-page.action' | translate }}
            </button>

            <button (click)="toggleEmoteMenu()" class="emote-menu-button">
                {{ 'game-page.emotes' | translate }}
            </button>

            <button
                (click)="confirmEndTurn()"
                [class.disabled]="isEndTurnButtonDisabled()"
                [attr.disabled]="isEndTurnButtonDisabled() ? 'disabled' : null"
            >
                {{ 'game-page.end-turn' | translate }}
            </button>
        </div>
        }
    </div>

    <div class="column-right">
        <div class="abandon-button">
            <button (click)="confirmAbandon()">{{ 'game-page.give-up' | translate }}</button>
            <button
                (click)="gameSessionManager.toggleDebugMode()"
                (keydown)="onKeydown($event)"
                [class.disabled]="!this.gameSessionManager.chosenPlayer().organizer"
                [disabled]="!this.gameSessionManager.chosenPlayer().organizer"
            >
                {{ (gameSessionManager.debugModeStatus() ? 'game-page.debug-mode' : 'game-page.normal-mode') | translate }}
            </button>
        </div>
        <app-game-info [gameId]="gameSessionManager.gameId()"></app-game-info>
        @if(!showGameInterface) { @if (showChat && !chatService.chatDetache()){
        <app-chat-container [gameId]="gameSessionManager.gameId()"></app-chat-container>
        } @else {
        <app-event-log></app-event-log>
        } }
        <div class="nav-buttons">
            <button (click)="toggleView(true)" [class.active]="showChat">{{ 'game-page.chat' | translate }} <i class="fas fa-comments"></i></button>
            <button (click)="toggleView(false)" [class.active]="!showChat"><i class="fas fa-tasks"></i> {{ 'game-page.log' | translate }}</button>
        </div>
    </div>
</div>

@if (showGameInterface) {
<div class="dual-modal-layout">
    <div class="combat-interface-area">
        <app-game-interface [gameId]="gameSessionManager.gameId()"></app-game-interface>
    </div>
    <div class="chat-log-area">
        <div class="abandon-button">
            <button (click)="confirmAbandon()">{{ 'game-page.give-up' | translate }}</button>
        </div>
        @if (showChat && !chatService.chatDetache()) {
        <app-chat-container [gameId]="gameSessionManager.gameId()"></app-chat-container>
        } @else {
        <app-event-log></app-event-log>
        }
        <div class="nav-buttons">
            <button (click)="toggleView(true)" [class.active]="showChat">
                <i class="fas fa-comments"></i>
            </button>
            <button (click)="toggleView(false)" [class.active]="!showChat">
                <i class="fas fa-tasks"></i>
            </button>
        </div>
    </div>
</div>
} @if (showAbandonConfirmation) {
<div class="confirmation-bubble">
    <p>{{ 'game-page.give-up-confirmation-modal' | translate }}</p>
    <div class="confirmation-buttons">
        <button (click)="abandonGame()">{{ 'general.button.yes' | translate }}</button>
        <button (click)="cancelAbandon()">{{ 'general.button.no' | translate }}</button>
    </div>
</div>
} @if (showEndTurnConfirmation) {
<div class="confirmation-bubble">
    <p>{{ 'game-page.end-turn-confirmation-modal' | translate }}</p>
    <div class="confirmation-buttons">
        <button (click)="onCLickEndTurn()">{{ 'general.button.yes' | translate }}</button>
        <button (click)="cancelEndTurn()">{{ 'general.button.no' | translate }}</button>
    </div>
</div>
}

<app-combat-notification></app-combat-notification>
