<div class="event-log-container">
    <div class="event-log-header">
        <p>{{ 'event-log.title' | translate }}</p>
        <button (click)="filteredEventsButton()">
            {{ (isFiltered ? 'event-log.my-logs' : 'event-log.all-logs') | translate }}
        </button>
    </div>

    <div class="events-list" #scroll>
        @for (event of gameEventService.filteredEvents; track event.timestamp) {
        <div class="event-item" [ngClass]="event.type">
            <span class="event-icon">{{ event.type }}</span>
            <!-- TODO add log translation -->
            <span class="event-message"><p [innerHTML]="replaceNewlines(event.message)"></p></span>
            <span class="event-time">{{ event.timestamp | date: 'HH:mm:ss' }}</span>
        </div>
        }
    </div>
</div>
