$font-primary: 'Jaro', sans-serif;
$section-pacement: 1em;
$main-color: #294374;
$second-color: #85c1e9;
$background-z-index: -1;
$background-blur: 0px;
$page-header-width: 100%;
$button-border-radius: 66px;
$button-font-size-1: 1.25rem;
$page-header-font-size: 1.25em;
$button-padding-y: 10px;
$button-padding-x: 30px;
$animation-delay-1: 0.2s;
$text-color: white;
$border-color: #85c1e9;
$text-color: white;
$background-color: #294374;
$background-frame: linear-gradient(15deg, #374f7c 0%, $background-color 100%);

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000% 0;
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/background/backgroundLogin.png');
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.header-item {
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -20px;

    background: linear-gradient(90deg, #000000, #0044cc, #1a1a1a, #0044cc);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorShift 2s infinite linear;
}

#main-logo {
    width: 6vw;
    height: auto;
    margin-top: -10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.auth-card {
    background-color: rgba(74, 74, 82, 0.6);
    border-radius: 25px;
    width: 100%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    scrollbar-gutter: stable;
}

.auth-title {
    font-size: 2rem;
    font-weight: 500;
    color: $text-color;
    text-align: center;
    line-height: 1.2;
    margin: 0;
    padding: 0 1rem;
}

.header-section {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    width: 80%;
    border-radius: 25px;
    background-color: $main-color;
    text-align: center;
    font-size: 1.25em;
    font-weight: lighter;
    color: $text-color;
    border: 4px double $second-color;
}

.button-wrapper {
    position: relative;
    right: 50px;
}

.connection-button {
    font-family: $font-primary;
    padding: $button-padding-y $button-padding-x;
    font-size: 1.3rem;
    color: $text-color;
    background-color: #719ff0;
    border: none;
    border-radius: $button-border-radius;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        background-color 0.2s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.header-section .h1 {
    font-size: 1.8rem;
    margin: 0;
    color: $main-color;
}

.header-section .h1 .i {
    margin-right: 15px;
    color: $main-color;
}

.auth-switch {
    margin-top: 1rem;
    text-align: center;
    color: $text-color;

    a {
        color: $second-color;
        cursor: pointer;
        text-decoration: underline;
        margin-left: 0.3rem;
    }
}

.form-group {
    margin-top: 0.2rem;
    color: $text-color;
    font-size: 1.2rem;
}

.error-message {
    color: $text-color;
    font-size: 0.9rem;
}

.form-control {
    color: $text-color;
    background: $background-frame;
    border-radius: 1em;
    font-size: 1.2rem;
    width: 20em;
    height: 2em;
    padding-left: 15px;
    &:focus,
    &:active,
    &:not(:placeholder-shown) {
        background: $background-frame;
        color: $text-color;
        border: 2px solid $border-color;
        outline: none;
    }
}

.toggle-avatar-mode-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

    i {
        font-size: 1.5rem;
        color: #85c1e976;
        transition: color 0.3s ease;
    }

    .active-icon {
        color: $second-color;
    }

    .toggle-switch-icon {
        background: none;
        border: none;
        cursor: pointer;

        i {
            font-size: 2rem;
            color: $second-color;
            transition: transform 0.3s ease;
        }

        &:hover i {
            transform: scale(1.1);
        }
    }
}

.custom-avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    .upload-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 10px 20px;
        background-color: $second-color;
        color: $text-color;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

        i {
            font-size: 1.2rem;
        }

        &:hover {
            background-color: lighten($second-color, 10%);
        }

        input[type='file'] {
            display: none;
        }
    }

    .avatar-preview {
        margin-top: 1rem;

        img {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
        }
    }
}

.error-message {
    color: #ff6161;
    font-size: 1rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}

.lang {
    margin-top: 1em;
}
