<div class="profile-page-container">
    <section class="navigation">
        <button class="navigation-button" (click)="goHome()"><i class="fas fa-home"></i> Retour à l'accueil</button>
    </section>

    <div class="profile-left">
        <img [src]="user.avatar" alt="Avatar" class="avatar-image" />

        <div class="user-info">
            <p class="username-status">
                <strong>{{ user.username }}</strong>
                <span class="status-icon">
                    @switch (user.status) { @case (DeviceType.web) {
                    <i class="fa fa-desktop online-status"></i>
                    } @case (DeviceType.android) {
                    <i class="fa fa-mobile-alt"></i>
                    } @case (DeviceType.offline) {
                    <i class="fa-solid fa-ban offline-status"></i>
                    } }
                </span>
            </p>
            <p><strong>Courriel:</strong> {{ user.email }}</p>
            <p><strong>Argent:</strong> {{ user.money }} $</p>
        </div>

        <div class="profile-actions">
            <button class="button" (click)="editAccount()">Modifier le compte</button>
            <button class="button" (click)="showDeletePopup()">Supprimer le compte</button>
        </div>
    </div>

    <div class="profile-right">
        <div class="tabs">
            <div class="tabs">
                <button [class.active]="activeTab === ActiveTab.Socials" (click)="activeTab = ActiveTab.Socials"><i class="fa fa-users"></i> Résaux sociaux</button>
                <button [class.active]="activeTab === ActiveTab.Inventory" (click)="activeTab = ActiveTab.Inventory"><i class="fa fa-box"></i> Inventaire</button>
                <button [class.active]="activeTab === ActiveTab.Statistics" (click)="activeTab = ActiveTab.Statistics">
                    <i class="fa fa-chart-bar"></i> Statistiques
                </button>
            </div>
        </div>

        @if (deleteAccountWarning) {
            <div class="confirmation-bubble">
                <p>Êtes-vous sûr de vouloir supprimer votre compte? Cette action est irréversible</p>
                <div class="confirmation-buttons">
                    <button (click)="deleteAccount()">Oui</button>
                    <button (click)="hideDeletePopup()">Non</button>
                </div>
            </div>
            }

        <!-- TODO: Create component for each sub tab -->

        <div class="tab-content">
            @switch (activeTab) {
                @case (ActiveTab.Socials) {
                    <p>Amis: {{ user.friends.length }}</p>
                    <p>Utilisateurs Bloqués: {{ user.blocked.length }}</p>
                }
                @case (ActiveTab.Inventory) {
                    <ul>
                        <li>Placeholder items</li>
                    </ul>
                }
                @case (ActiveTab.Statistics) {
                    <p>Victoires: {{ user.statistics.victoryAmount }}</p>
                    <p>Défaites: {{ user.statistics.defeatAmount }}</p>
                    <p>Combats: {{ user.statistics.combatAmount }}</p>
                }
            }
        </div>
        
    </div>
</div>
