<div id="input">
    <section class="attribute">
        <section class="physical-attribute">
            <div class="header">
                <h2>{{ 'attribute-form.physical' | translate }}</h2>
            </div>
            <div class="frame">
                <div class="form-field">
                    <label for="life">{{ 'attribute-form.health.title' | translate }}</label>
                    <div class="hover-button">
                        <p>
                            ? <span class="description">{{ 'attribute-form.health.description' | translate }}</span>
                        </p>
                    </div>

                    <div class="option">
                        <p id="life">{{ lifeValue }}</p>
                        <p>
                            <input type="radio" name="bonus" value="life" (change)="applyBonus('life')" formControlName="bonus" />
                            +2
                        </p>
                    </div>
                </div>

                <div class="form-field">
                    <label for="speed">{{ 'attribute-form.speed.title' | translate }}</label>
                    <div class="hover-button">
                        <p>
                            ?
                            <span class="description">{{ 'attribute-form.speed.description' | translate }}</span>
                        </p>
                    </div>
                    <div class="option">
                        <p id="speed">{{ speedValue }}</p>
                        <p>
                            <input type="radio" name="bonus" value="speed" (change)="applyBonus('speed')" formControlName="bonus" />
                            +2
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="combat-attribute">
            <div class="header">
                <h2>{{ 'attribute-form.combat' | translate }}</h2>
            </div>
            <div class="frame">
                <div class="form-field">
                    <label for="attack">{{ 'attribute-form.attack.title' | translate }}</label>
                    <div class="hover-button">
                        <p>
                            ?<span class="description">{{ 'attribute-form.attack.description' | translate }}</span>
                        </p>
                    </div>

                    <div class="option">
                        <p id="attack">{{ attackValue }}</p>
                        <label>
                            <input
                                type="radio"
                                name="attackDice"
                                value="D4"
                                (change)="assignDice('attack', diceBonus.FourSideBonus)"
                                [checked]="attackDice === diceBonus.FourSideBonus"
                            />
                            {{ 'general.dice-bonus.four-side-bonus' | translate }}
                        </label>
                        <label>
                            <input
                                type="radio"
                                name="attackDice"
                                value="D6"
                                (change)="assignDice('attack', diceBonus.SixSideBonus)"
                                [checked]="attackDice === diceBonus.SixSideBonus"
                            />
                            {{ 'general.dice-bonus.six-side-bonus' | translate }}
                        </label>
                        <p class="dice">{{ 'general.dice-bonus.' + attackDice | translate }}</p>
                    </div>
                </div>

                <div class="form-field">
                    <label for="defend">{{ 'attribute-form.defense.title' | translate }}</label>
                    <div class="hover-button">
                        <p>
                            ?<span class="description">{{ 'attribute-form.defense.description' | translate }}</span>
                        </p>
                    </div>

                    <div class="option">
                        <p id="defend">{{ defenseValue }}</p>
                        <label>
                            <input
                                type="radio"
                                name="defenseDice"
                                value="D4"
                                (change)="assignDice('defense', diceBonus.FourSideBonus)"
                                [checked]="defenseDice === diceBonus.FourSideBonus"
                            />
                            {{ 'general.dice-bonus.four-side-bonus' | translate }}
                        </label>
                        <label>
                            <input
                                type="radio"
                                name="defenseDice"
                                value="D6"
                                (change)="assignDice('defense', diceBonus.SixSideBonus)"
                                [checked]="defenseDice === diceBonus.SixSideBonus"
                            />
                            {{ 'general.dice-bonus.six-side-bonus' | translate }}
                        </label>
                        <p class="dice">{{ 'general.dice-bonus.' + defenseDice | translate }}</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
