<div class="game-info-container">
    <div class="info-header">
        <p>
            {{ gameName }}
            <span class="game-details">({{ boardSizeCorrespondance[boardSize] }} - {{ 'general.game-mode.' + gameMode | translate }})</span>
        </p>
    </div>

    <div class="info-content">
        <div class="players-list">
            <p>
                <span class="player-count">{{ players.length }}</span> {{ 'game-page.players' | translate }}
            </p>
            <div class="players-container">
                @for (player of players; track player.name) {
                <div class="player-item">
                    <img [src]="player.character" [alt]="player.name" class="player-avatar" />
                    <span class="player-name" [ngClass]="{ 'active-player': player.name === activePlayerName, 'not-in-game': player.eliminated }">
                        {{ player.name }}
                        @if (player.virtualPlayer) {
                        <i class="fas fa-robot robot-icon" [ngClass]="{ aggressive: isAggressive(player), defensive: !isAggressive(player) }"></i>
                        } @if (player.organizer) {
                        <i class="fas fa-star organizer-star"></i>
                        }
                    </span>
                    <i class="fas fa-flag" [ngClass]="hasFlag(player) && !player.isNotInGame ? 'flag-visible' : 'flag-hidden'"></i>
                    @if (isCtfMode()) {
                    <span class="player-team">{{ 'game-page.team' | translate }}: {{ player.ctfTeam }}</span>
                    }@else {
                    <span class="player-victories">{{ 'game-page.victories' | translate }}: {{ player.victories || 0 }}</span
                    >}
                </div>
                }
            </div>
        </div>
    </div>
</div>
