.statistics-container {
    color: white;
}

.header-container {
    display: flex; 
    align-items: baseline; 
    gap: 1rem; 
    margin-bottom: 1rem;  
}

.header-container h1 {
    margin: 0;
}

.global-stats {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 0.5rem;
}