<div class="container justified">
    <div class="bear-character"></div>
    <div class="hippo-character"></div>
    <div class="main-content">
        <div class="header-container">
            <h1 class="header-item">{{ title }}</h1>
        </div>
        <i class="fa fa-sign-out-alt logout-button" aria-hidden="true" (click)="logout()"></i>
        <img src="./assets/mainLogo/MP logo.svg" alt="Logo Méchante Patte" id="main-logo" />
        <div class="button-container">
            <button class="button" routerLink="/game-code">Joindre une partie</button>
            <button class="button" routerLink="/creation">Créer une partie</button>
            <button class="button" routerLink="/admin-page">Administrer les jeux</button>
        </div>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 203</h4>
        <p>
            <span>Maya Ait Djebara</span>, <span>Nada Douihi</span>, <span>Hubert Godin</span>, <span>Cristina Maria Goia</span>,
            <span>Maryam Mehdaoui</span>, <span>Nadine Rzig</span>
        </p>
    </footer>
</div>
