<div class="container justified">
    <div class="bear-character"></div>
    <div class="hippo-character"></div>
    <div class="main-content">
        <div class="header-container">
            <h1 class="header-item">{{ title }}</h1>
            <div class="user-actions">
                <i class="fa-solid fa-shopping-cart logout-button" aria-hidden="true" (click)="openShop()"></i>
                <i class="fa-solid fa-message logout-button" aria-hidden="true" (click)="openGeneralChat()"></i>
                <div class="notification-wrapper">
                    <i class="fa-solid fa-user-group logout-button" aria-hidden="true" (click)="openSocialsPopup()"></i>
                    @if (totalNotificationCount() > 0) {
                    <span class="notification-badge">{{ totalNotificationCount() }}</span>
                    }
                </div>

                <img [src]="avatar().avatar" alt="Avatar" class="avatar-icon" (click)="openProfile()" />
                <i class="fa-solid fa-gear logout-button" aria-hidden="true" (click)="openSettings()"></i>
                <i class="fa fa-sign-out-alt logout-button" aria-hidden="true" (click)="logout()"></i>
            </div>
        </div>

        <img src="./assets/mainLogo/MP logo.svg" alt="Logo Méchante Patte" id="main-logo" />

        <div class="button-container">
            <button class="button" routerLink="/game-code">{{ 'main-page.join-game' | translate }}</button>
            <button class="button" routerLink="/creation">{{ 'main-page.create-game' | translate }}</button>
            <button class="button" routerLink="/admin-page">{{ 'main-page.admin-boardgame' | translate }}</button>
        </div>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">{{ 'main-page.team-name' | translate }}</h4>
        <p>
            <span>Maya Ait Djebara</span>, <span>Nada Douihi</span>, <span>Hubert Godin</span>, <span>Cristina Maria Goia</span>,
            <span>Maryam Mehdaoui</span>, <span>Nadine Rzig</span>
        </p>
    </footer>

    @if(chatService.showChat() && !this.chatService.chatDetache()){
    <div class="chat-container">
        <app-chat-container></app-chat-container>
    </div>
    } @if (showSocialsPopup()) {
    <app-socials-popup (close)="closeSocialsPopup()"></app-socials-popup>
    }
</div>
