<div class="tile-element" (mouseup)="mouseUpOnTile()">
    <img [src]="getTileImage(tile)" alt="{{ tile.type }}" />

    @if(tile.type === 'teleportation' && getTeleporterPairNumber()){
    <div class="teleporter-id">{{ getTeleporterPairNumber() }}</div>
    } @if(tile.containedItem){
    <app-item-element
        class="item-element"
        [item]="tile.containedItem"
        (mousedown)="mouseDownOnItem($event, tile.containedItem)"
        [style.cursor]="this.itemApplicatorService.isActivated ? 'grabbing' : this.tileApplicatorService.isActivated ? 'crosshair' : 'grab'"
    ></app-item-element>
    }
</div>

@if(showItemLimitWarning){
<div class="item-limit-warning">
    <h2 class="item-limit-warning-title">{{ 'general.error' | translate }}</h2>
    <div class="item-limit-warning-content">
        <p>{{ 'board-edition-page.item-limit-warning' | translate: { nItems: this.getItemLimit() } }}</p>
    </div>
    <div class="item-limit-warning-actions">
        <button class="item-limit-warning-button" (click)="clickOnOk()">{{ 'general.button.ok' | translate }}</button>
    </div>
</div>
}
