<h2 mat-dialog-title>{{ 'dialog.create-channel.title' | translate }}</h2>

<mat-dialog-content>
    <p>{{ 'dialog.create-channel.text' | translate }}</p>

    <div class="field-block">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'dialog.create-channel.label' | translate }}</mat-label>
            <input matInput [(ngModel)]="channelName" />
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="nc-ghost" (click)="onNoClick()">{{ 'dialog.create-channel.cancel-button-label' | translate }}</button>
    <button mat-flat-button class="nc-cta" [mat-dialog-close]="channelName()" cdkFocusInitial>
        {{ 'dialog.create-channel.create-button-label' | translate }}
    </button>
</mat-dialog-actions>
