<div class="creation-container justified">
    <section class="navigation">
        <button class="navigation-button" routerLink="/main-page"><i class="fas fa-home"></i> {{ 'general.button.back-home' | translate }}</button>
    </section>

    <section class="header-item">
        <h1>{{ 'creation-page.title' | translate }}</h1>
    </section>

    @if(showAlertConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'creation-page.boardgame-deleted-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="hideAlert()">{{ 'general.button.confirm' | translate }}</button>
        </div>
    </div>
    } @if(showVisibilityAlert) {
    <div class="confirmation-bubble">
        <p>{{ 'creation-page.visibility-modal' }}</p>
        <div class="confirmation-buttons">
            <button (click)="hideAlert()">{{ 'general.button.confirm' | translate }}</button>
        </div>
    </div>
    }

    <div class="creation-button-container"></div>

    <div class="creation-content" [ngClass]="{ 'no-game-selected': !displayedObject?.visibility, 'game-selected': displayedObject?.visibility }">
        <app-game-list [gamesList]="gamesList" [showOnlyVisible]="true" (gameSelected)="setDisplayedObject($event)" [theme]="'green'">
        </app-game-list>

        @if (displayedObject && displayedObject.visibility) {
        <section class="game-state-changer">
            <div class="game-name-header">
                <h2>{{ displayedObject.name }}</h2>
            </div>

            <div class="game-card-list-2">
                <div class="main-area">
                    <img [src]="displayedObject.previewImage" alt="Preview Image" />
                </div>

                <div class="game-icons">
                    @if (displayedObject.visibility) {
                    <img src="assets/icones/eye icon white.svg" alt="Visible" />
                    } @if (displayedObject.gameMode === gameMode.CTF) {
                    <img src="assets/icones/flag white.svg" alt="CTF Mode" />
                    }
                </div>
            </div>
            <button (click)="createNewGame()" [disabled]="hasBeenClicked">{{ 'creation-page.create' | translate }}</button>
        </section>
        }
    </div>
</div>
