<div class="creation-container justified">
    <section class="navigation">
        <div class="right-group">
            <i class="fa-solid fa-message chat-button" aria-hidden="true" (click)="openChat()"></i>
            <button class="navigation-button" routerLink="/main-page">
                <i class="fas fa-home"></i> {{ 'general.button.back-home' | translate }}
            </button>
        </div>
    </section>

    <section class="header-item">
        <h1>{{ 'creation-page.title' | translate }}</h1>
    </section>

    @if(showAlertConfirmation) {
    <div class="confirmation-bubble">
        <p>{{ 'creation-page.boardgame-deleted-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="hideAlert()">{{ 'general.button.confirm' | translate }}</button>
        </div>
    </div>
    } @if(showVisibilityAlert) {
    <div class="confirmation-bubble">
        <p>{{ 'creation-page.visibility-modal' | translate }}</p>
        <div class="confirmation-buttons">
            <button (click)="hideAlert()">{{ 'general.button.confirm' | translate }}</button>
        </div>
    </div>
    }

    <div class="creation-button-container"></div>

    <section class="poll-prize-container">
        <div class="poll-prize-header">
            <h3 class="poll-prize-title">
                {{ 'creation-page.poll-prize-title' | translate }}
            </h3>

            <div class="poll-prize-values">
                <span class="poll-prize-current">{{ selectedPollPrizeAmount }}</span>
                <span>{{ maxPollPrize }}</span>
            </div>
        </div>

        <div class="poll-prize-slider-wrapper">
            <input
                type="range"
                class="poll-prize-slider"
                min="0"
                [max]="maxPollPrize"
                step="1"
                [value]="selectedPollPrizeAmount"
                (input)="onPollPrizeChange($event)"
            />
        </div>
    </section>

    <section class="friends-only-container">
        <label class="friends-only-toggle">
            <input type="checkbox" [(ngModel)]="friendsOnly" />
            <span class="toggle-switch"></span>
            <span class="toggle-text">{{ 'creation-page.friends-only' | translate }}</span>
        </label>
        <label class="friends-only-toggle">
            <input type="checkbox" [(ngModel)]="isRapidElim" />
            <span class="toggle-switch"></span>
            <span class="toggle-text">{{ 'creation-page.rapid-elimination' | translate }}</span>
        </label>
    </section>

    <div class="creation-content" [ngClass]="{ 'no-game-selected': true, 'game-selected': true }">
        <app-game-list [gamesList]="gamesList" (gameSelected)="setDisplayedObject($event)" [theme]="'green'" [isLoading]="isLoading()">
        </app-game-list>

        <section class="game-state-changer">
            @if(isLoading()){
            <app-loading [color]="'white'"></app-loading>
            } @else{ @if (displayedObject) {
            <div class="game-name-header">
                <h2>{{ displayedObject.name }}</h2>
            </div>

            <div class="game-card-list-2">
                <div class="main-area">
                    <img [src]="displayedObject.previewImage" alt="Preview Image" />
                </div>

                <div class="game-icons">
                    <!-- @if (displayedObject.visibility) {
                    <img src="assets/icones/eye icon white.svg" alt="Visible" />
                    }  -->
                    @if (displayedObject.gameMode === gameMode.CTF) {
                    <img src="assets/icones/flag white.svg" alt="CTF Mode" />
                    }
                </div>
            </div>
            <button (click)="createNewGame()" [disabled]="hasBeenClicked">{{ 'creation-page.create' | translate }}</button>
            }}
        </section>
    </div>

    @if(chatService.showChat() && !this.chatService.chatDetache()){
    <div class="chat-container">
        <app-chat-container></app-chat-container>
    </div>
    }
</div>
